// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.content {
    margin-top: 1rem;
}

.home_desc {
    margin-top: 0.5rem;
}

.home_posts {
    margin-top: 1rem;
}


